extends index

block breadcrumbs
  li: a(href="{%funcs::GetAdminUrl('文章列表')%}") 文章列表

block main
  .row
    {%foreach from=$channel key=count item=i%}
    {%if $i.parentid eq 0%}
    a.button(href='?admin=admin&template=article_list&channelid={%$i.id%}') {%$i.name%}
    {%/if%}
    {%/foreach%}
  .list
    .row.line
      .columns.large-1 编辑
      .columns.large-2 频道
      .columns.large-2 标题
      .columns.large-1 作者
      .columns.large-2 时间
      .columns.large-1 浏览次数
      .columns.large-3 操作
    {%if funcs::GET("channelid") gt 0%}
    {%$articleList = funcs::GetArticleListByChannel(funcs::GET("channelid"))%}
    {%else%}
    {%$articleList = funcs::GetArticleList()%}
    {%/if%}
    {%foreach from=$articleList key=count item=i%}
    .row.line
      .columns.large-1: a(href="?admin=admin&template=article_edit&id={%$i.id%}") 编辑
      .columns.large-2 {%funcs::ChannelName($i.channel)%}
      .columns.large-2 
        a(href="{%$weburl%}?template=article&id={%$i.id%}",target="_blank") {%$i.title%}
      .columns.large-1 {%$i.author%}
      .columns.large-2 {%$i.time%}
      .columns.large-1 {%$i.times%}
      .columns.large-3
        span.button.article_top(articleid="{%$i.id%}") {%if $i.top eq 0%}顶置{%else%}取消顶置{%/if%}
        span.button.article_delete(articleid="{%$i.id%}") 删除
    {%/foreach%}
  {%$page%}

block script
  script(type="text/javascript")
    $(function(){
      $(".article_top").click(function(){
        var that = $(this);
        $.post("{%$adminurl%}",{
          "method":"article_top",
          "article_id":that.attr("articleid")
        },function(data){
          try{
            data = $.parseJSON(data);
            alert(data.msg);
          }catch(err){
            alert("出错了！");
          }
          history.go(0);
        })
      });
      $(".article_delete").click(function(){
        var that = $(this);
        $.post("{%$adminurl%}",{
          "method":"article_delete",
          "article_id":that.attr("articleid")
        },function(data){
          try{
            data = $.parseJSON(data);
            alert(data.msg);
          }catch(err){
            alert("出错了！");
          }
          history.go(0);
        })
      });
    });